/* texto inicial (preto ou cinza escuro) */
.texto-inicial {
    color: #333; /* cinza escuro */
    font-size: 18px;
  }
  
  /*  texto após o clique */
  .texto-sucesso {
    color: green; 
    font-size: 18px;
  }
  
  /*  estilizar o botão */
  .btn {
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  